# Named OM service checks for Nagios on ops (.40)
# Applied under /etc/nagios4/conf.d/om-services.cfg

define command {
    command_name    om_check_tcp
    command_line    $USER1$/check_tcp -H $HOSTADDRESS$ -p $ARG1$ -w 5 -c 10
}

define command {
    command_name    om_check_http
    command_line    $USER1$/check_http -I $HOSTADDRESS$ -p $ARG1$ -u $ARG2$ -f follow -w 5 -c 10
}

define service {
    use                     generic-service
    host_name               om-prod01
    service_description     OM HTTPS
    check_command           om_check_tcp!443
}

define service {
    use                     generic-service
    host_name               om-prod01
    service_description     OM API Health
    check_command           om_check_http!3001!/api/system/health
}

define service {
    use                     generic-service
    host_name               om-prod01
    service_description     OMAI
    check_command           om_check_tcp!7060
}

define service {
    use                     generic-service
    host_name               om-workshop
    service_description     OM Workshop HTTP
    check_command           om_check_http!80!/
}

define service {
    use                     generic-service
    host_name               omstudio
    service_description     OM Studio
    check_command           om_check_tcp!4070
}

define service {
    use                     generic-service
    host_name               om-dev
    service_description     OMDev Web
    check_command           om_check_tcp!80
}

define service {
    use                     generic-service
    host_name               om-dev
    service_description     OMBrain
    check_command           om_check_tcp!8390
}
